<!DOCTYPE html>
<html>

    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to CLJ Tic Tac Toe</title>
    </head>

    <body>
        <h1>Welcome bro</h1>
        <table>
            {% for number in list %}
            <tr>
                {% for idx in list %}
                <th><a href="#">{{ idx }}</a></th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>

</html>