<!DOCTYPE html>
<html>

    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to CLJ Tic Tac Toe</title>
    </head>

    <body>
        <table>
            <tr>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
            </tr>
            <tr>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
            </tr>
            <tr>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
                <th><a href="#"></a></th>
            </tr>
        </table>
    </body>

</html>